@model Model.AlumnoCurso


@{
    //desde el controlador usamos la variable ViewBag.Cursos y la asignamos a una variable de tipo lista para usarla aqui
    List<Model.Curso> cursos = ViewBag.Cursos;
    //desde el controlador usamos la variable ViewBag.CursosElegidos y la asignamos a una variable de tipo lista para usarla aqui
    List<Model.AlumnoCurso> CursosElegidos = ViewBag.CursosElegidos;
}

@if (cursos.Count > 0)
{
    using (Html.BeginForm("GuardarCurso", "Home", FormMethod.Post, new { id = "frm-curso" }))
    {
        @Html.HiddenFor(x => x.Alumno_id)

        <div class="form-group">
            @Html.LabelFor(x => x.Curso.Nombre)
            <select class="form-control" name="Curso_id">
                @foreach (var c in cursos)
                {
                    <option value="@c.id">@c.Nombre</option>
                }
            </select>
            @*@Html.ValidationMessageFor(x => x.Curso.Nombre, null, new { @class="text-danger"} )*@
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Nota)
            @Html.TextBoxFor(x => x.Nota, new { @class = "form-control", placeholder = "Ingresa el Apellido" })
            @*@Html.ValidationMessageFor(x => x.Nota, null, new { @class = "text-danger" })*@
        </div>

        <div class="text-right">
            <button data-ajax="true" data-confirm="¿Esta seguro que desea asignar este curso al alumno?" type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-danger" href="~/Home">Cancelar</a>
        </div>
    }
}

<!--CURSOS ELEGIDOS-->

<div class="container">
    <ul class="list-group">
        @foreach (var item in CursosElegidos)
        {
            <li class="list-group-item">@item.Curso.Nombre <span class="badge">@item.Nota</span></li>
        }
    </ul>
</div>

<!--VALIDACION DEL FORMULARIO
    Como esta vista se carga despues , tenemos que ejecutar aqui un script para hacer la validacion del formulario-->
<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#frm-curso");
    })
</script>